*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  background-color: #036161; }

.container {
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(12, 33vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  overflow: hidden; }

.heading-1, .heading-2, .heading-3 {
  font-family: "Voltaire", sans-serif; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: .3rem; }

.heading-2 {
  font-size: 4rem;
  letter-spacing: .3rem; }

.heading-3 {
  font-size: 3.5rem; }

.heading-4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: 300; }

.sub-3 {
  font-family: "Tangerine", cursive;
  font-size: 3.8rem; }

.section__title {
  width: 60%;
  color: #fff4c4; }
  .section__title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    width: 60%; }

.section__title {
  text-transform: capitalize; }

.navigation {
  position: fixed;
  height: 10rem;
  width: 15rem;
  z-index: 2000;
  top: 0;
  left: 0; }

.header {
  grid-column: 1 /-1;
  grid-row: 1 / 4;
  position: relative;
  background-color: #231F20;
  z-index: 500;
  background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 60%, rgba(190, 5, 5, 0.9) 60%), url(../image/tango-lesson_lg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 65vh);
  display: grid;
  text-align: center; }
  .header h3 {
    color: #fff4c4;
    text-transform: capitalize; }
  .header__name {
    position: absolute;
    z-index: 500;
    transform: translate(5%, 25%) rotate(-10deg);
    font-size: 16rem;
    font-family: "Great Vibes", cursive;
    color: rgba(255, 244, 196, 0.8); }
  .header__mainbox {
    display: grid;
    position: absolute;
    z-index: 1000;
    top: 10%;
    right: 5%;
    grid-gap: 2.5rem;
    height: 70%;
    width: 30%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; }
  .header__logo {
    width: 25rem;
    opacity: .9; }
  .header__sub {
    color: #fff4c4;
    text-transform: capitalize; }
    .header__sub span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
  .header h1 {
    color: #fff4c4;
    text-transform: uppercase;
    text-shadow: 0.4rem 0.4rem 0.1rem #231F20; }
    .header h1:nth-child(2) {
      border-top: 3px solid #fff4c4; }

.about {
  grid-column: full-start /col-start 8;
  grid-row: 3/6;
  background-color: #0a0002;
  z-index: 400;
  clip-path: polygon(0 0, 100% 0, 100% 15vh, 0 100%);
  margin-top: -5vh;
  display: grid;
  align-content: center;
  align-items: center;
  padding-left: 3rem; }
  .about__main {
    color: #fff4c4;
    padding: 15vh 2rem 2rem 2rem; }
  .about__title {
    padding-top: 2rem;
    padding-bottom: 5rem; }
  .about__shape {
    float: right;
    width: 100%;
    height: 75vh;
    shape-outside: polygon(0 100%, 100% 0, 100% 100%);
    shape-margin: 3rem; }

.travel {
  grid-column: col-start 2/ -1;
  grid-row: 4/7;
  background-color: #5cb0b0;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 35vh);
  margin-top: -17vh;
  background-image: linear-gradient(to bottom right, rgba(212, 230, 201, 0.4), rgba(21, 138, 138, 0.7), rgba(53, 182, 182, 0.9)), url(../image/geoffandBeth-lg.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 96%;
  background-size: 80%; }

.lessons {
  background-color: #4d0104;
  background-image: linear-gradient(rgba(35, 31, 32, 0.4), rgba(17, 1, 1, 0.7)), url(../image/tango-teachers_lg.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff4c4;
  grid-row: 5/9;
  grid-column: 1/-1;
  margin-top: -5%;
  margin-bottom: -10%;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }
  .lessons__title {
    padding-bottom: 3rem; }
  .lessons__content {
    width: 60%; }
    .lessons__content:last-child {
      padding-bottom: 10rem; }

.testimonials {
  background-color: #0a0002;
  color: #fff4c4;
  grid-row: 8/ 11;
  grid-column: 1/ -1;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  display: grid;
  grid-gap: 5rem;
  align-content: center;
  align-items: center;
  padding-left: 5rem; }
  .testimonials .section__title {
    width: 100%; }
    .testimonials .section__title::after {
      content: "";
      display: block;
      height: 2px;
      background-color: currentColor;
      width: 60%; }
  .testimonials__main {
    width: 70%;
    padding-top: 15%;
    position: relative; }
    .testimonials__main::before {
      content: "\0201c";
      position: absolute;
      color: rgba(70, 189, 169, 0.5);
      font-family: serif;
      z-index: -1; }
    .testimonials__main::before {
      font-size: 70rem;
      top: -25%;
      left: -2%;
      transform: rotate(-15deg); }
  .testimonials__shape {
    float: right;
    width: 100%;
    height: 75vh;
    shape-outside: polygon(27.5% 100%, 100% 42%, 100% 100%);
    shape-margin: 4rem; }
  .testimonials__title {
    margin-bottom: 5rem; }
  .testimonials__voice {
    font-style: italic;
    opacity: 0;
    transform: scale(0.7) translateX(-100%);
    position: absolute; }
    .testimonials__voice--title {
      margin-bottom: 2rem; }
    .testimonials__voice--name {
      display: grid;
      align-items: center;
      grid-template-columns: 10rem max-content;
      padding-top: 3rem;
      grid-gap: 1rem; }
      .testimonials__voice--name::before {
        content: "";
        display: block;
        height: 1px;
        width: 10rem;
        background-color: #fff4c4; }
    .testimonials__voice--1 {
      animation: slideIn 36s ease-out infinite;
      z-index: 100; }
    .testimonials__voice--2 {
      animation: slideIn 36s ease-out 5.7s infinite;
      z-index: 110; }
    .testimonials__voice--3 {
      animation: slideIn 36s ease-out 11.7s infinite;
      z-index: 120; }
    .testimonials__voice--4 {
      animation: slideIn 36s ease-out 17.7s infinite;
      z-index: 130; }
    .testimonials__voice--5 {
      animation: slideIn 36s ease-out 23.7s infinite;
      z-index: 140; }
    .testimonials__voice--6 {
      animation: slideIn 36s ease-out 29.7s infinite;
      z-index: 150; }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%); }
  1% {
    opacity: 1;
    transform: scale(1) translateX(0); }
  16.5% {
    opacity: 1;
    transform: scale(1) rotate(0); }
  17% {
    opacity: 0;
    transform: scale(0.2) translateX(150%); }
  100% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%); } }

.contact {
  grid-row: 10/ -1;
  grid-column: 1/ -1;
  margin-top: -5vh;
  background-color: rgba(21, 138, 138, 0.4);
  background-image: linear-gradient(to bottom right, rgba(215, 25, 33, 0.4), rgba(172, 4, 4, 0.4), rgba(172, 4, 4, 0.9), rgba(21, 138, 138, 0.9)), url(../image/tango-contct_lg.jpg);
  background-position-Y: 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  display: grid;
  grid-template-columns: 50vw 1fr;
  align-items: end;
  justify-items: end;
  justify-content: end;
  align-content: end;
  grid-gap: 4rem;
  padding-bottom: 5rem;
  padding-right: 8rem;
  text-align: right; }
  .contact__main {
    grid-column: 2 /3;
    display: grid;
    grid-gap: 5rem;
    align-items: end; }
  .contact__title {
    width: 100%; }
    .contact__title::after {
      width: 100%; }
  .contact__details {
    color: #fff4c4;
    display: grid;
    grid-gap: 2rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .2rem;
    width: 100%; }
  .contact__detail {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    align-items: end;
    justify-items: end; }
  .contact__icon {
    width: 3rem;
    height: 3rem;
    fill: rgba(255, 244, 196, 0.7); }
  .contact__links {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) minmax(6rem, 1fr) repeat(2, minmax(4rem, 1fr));
    grid-gap: 2rem;
    align-items: end;
    justify-items: end;
    justify-content: end;
    align-content: end; }
  .contact__link {
    width: 3rem;
    height: 3rem;
    fill: rgba(255, 244, 196, 0.7); }
    .contact__link--youtube {
      width: 6rem;
      height: 3rem;
      fill: rgba(255, 244, 196, 0.7); }

.footer {
  grid-column: 1 /2;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  color: #fff4c4;
  padding-left: 5rem; }
  .footer__logo img {
    width: 8rem;
    opacity: .6; }
  .footer__copyright {
    color: rgba(255, 244, 196, 0.6); }

.fees {
  background-color: #036161;
  background-image: linear-gradient(rgba(21, 138, 138, 0.5), rgba(21, 138, 138, 0.5)), url(../image/tango-milonga-lg.jpg);
  background-size: 120%;
  background-position-x: 190%;
  background-position-y: -20%;
  background-repeat: no-repeat;
  grid-column: 1/-1;
  grid-row: 11 /-1;
  height: fit-content;
  color: #fff4c4;
  display: grid;
  grid-gap: 5rem;
  padding-top: 3rem;
  padding-left: 5rem;
  align-items: end;
  align-content: start;
  width: 100%;
  height: 150%; }
  .fees__content {
    list-style: none;
    align-self: start; }
  .fees__list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 15rem 1fr;
    padding-bottom: .5rem;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: .2rem; }
