@import url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    html {
      font-size: 68%; } }
  @media only screen and (max-width: 824px) {
    html {
      font-size: 50%;
      letter-spacing: .08rem; } }

body {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  background-color: #036161;
  overflow-x: hidden;
  position: relative; }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    body {
      line-height: 1.3; } }

.container {
  width: 100vw;
  display: grid;
  opacity: 0;
  grid-template-rows: repeat(12, 33vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #036161;
  transition: 2s linear;
  overflow: hidden; }
  @media only screen and (max-height: 1366px) and (max-width: 1024px), only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .container {
      grid-template-rows: repeat(12, 16.5vh); } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .container {
      grid-template-rows: repeat(10, 33vh); } }
  @media only screen and (max-width: 824px) {
    .container {
      grid-template-rows: repeat(12, 33vh); } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .container {
      grid-template-rows: repeat(12, 16.5vh); } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .container {
      grid-template-rows: repeat(12, 33vh); } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .container {
      grid-template-rows: repeat(15, 16.5vh); } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .container {
      grid-template-rows: repeat(auto-fill, 33vh);
      grid-auto-rows: 33vh; } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .container {
      grid-auto-rows: 33vh;
      grid-template-rows: repeat(auto-fill, 33vh); } }

.show {
  animation: appearing 2s linear forwards; }

@keyframes appearing {
  100% {
    opacity: 1; } }

.heading-1, .heading-2, .heading-3 {
  font-family: "Voltaire", sans-serif; }

h1 {
  margin: 0; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  margin: 0; }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .heading-1 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 568px) and (orientation: landscape) {
    .heading-1 {
      font-size: 3rem; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 4rem;
  letter-spacing: .3rem; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .heading-2 {
      font-size: 4.2rem; } }
  @media only screen and (max-width: 1024px) {
    .heading-2 {
      font-size: 3.2rem; } }

.heading-3 {
  font-size: 3.5rem; }

.heading-4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: 300; }

.sub-3 {
  font-family: "Tangerine", cursive;
  font-size: 3.8rem; }
  @media only screen and (max-width: 1024px) {
    .sub-3 {
      font-size: 3rem; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .sub-3 {
      width: 120%;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
      font-size: 2.5rem;
      letter-spacing: .1rem; } }
  @media only screen and (max-width: 824px) {
    .sub-3 {
      width: 120%;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: .1rem; } }
  @media only screen and (max-width: 568px) and (orientation: landscape) {
    .sub-3 {
      font-style: italic;
      font-size: 1.7rem; } }

.section__title {
  width: 60%;
  color: #fff4c4; }
  .section__title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    width: 60%; }

.section__title {
  text-transform: capitalize; }

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(#110101, #4d0104, #ac0404, #4d0104, #110101);
  z-index: 2001;
  top: 0;
  left: 0; }

.hidden {
  animation: fadeOut 1s forwards; }

.loading {
  position: absolute;
  width: 600px;
  height: 35px;
  left: 50%;
  top: 40%;
  overflow: visible;
  margin-left: -32rem;
  z-index: 2030; }
  .loading div {
    color: #fff4c4;
    width: 2rem;
    height: 3.5rem;
    position: absolute;
    font-size: 2.2rem;
    opacity: 0;
    transform: rotate(180deg);
    animation: following 4s linear infinite; }
  .loading div:nth-child(2) {
    animation-delay: 0.2s; }
  .loading div:nth-child(3) {
    animation-delay: 0.4s; }
  .loading div:nth-child(4) {
    animation-delay: 0.6s; }
  .loading div:nth-child(5) {
    animation-delay: 0.8s; }
  .loading div:nth-child(6) {
    animation-delay: 1s; }
  .loading div:nth-child(7) {
    animation-delay: 1.2s; }

@keyframes following {
  0% {
    left: 0;
    transform: scale(0) rotate(180deg);
    opacity: 0; }
  35% {
    left: 41%;
    transform: scale(1) rotate(0deg);
    opacity: 1; }
  60% {
    left: 58%;
    transform: scale(1) rotate(0deg);
    opacity: 1; }
  100% {
    left: 100%;
    transform: scale(0) rotate(-180deg);
    opacity: 0; } }

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden; } }

.navigation {
  position: fixed;
  height: 10rem;
  width: 15rem;
  z-index: 2000;
  top: 0;
  left: 0; }

.header {
  grid-column: 1 /-1;
  grid-row: 1 / 4;
  position: relative;
  background-color: #231F20;
  z-index: 500;
  background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 60%, rgba(190, 5, 5, 0.9) 60%), url(../image/tango-lesson_lg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 65vh);
  display: grid;
  text-align: center; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .header {
      background-position: 50% 250%; } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 35vh);
      background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 60%, rgba(190, 5, 5, 0.9) 60%), url(../image/tango-lesson_ipp.jpg);
      background-size: contain;
      background-position: top;
      background-attachment: fixed;
      background-repeat: no-repeat; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65vh);
      background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 60%, rgba(190, 5, 5, 0.9) 60%), url(../image/tango-lesson_m.jpg);
      background-size: auto;
      background-position: 50% 130%; } }
  @media only screen and (max-width: 824px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 65vh);
      background-position: 50% 90%; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 35vh);
      background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 60%, rgba(190, 5, 5, 0.9) 60%), url(../image/tango-lesson_ipp.jpg);
      background-size: contain;
      background-position: top;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 120%; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 65vh);
      background-position: 50% 90%; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 39vh);
      background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 50%, rgba(190, 5, 5, 0.9) 50%), url(../image/tango-lesson_ipp.jpg);
      background-size: 185%;
      background-position: 50% 0; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 45vh);
      background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 50%, rgba(190, 5, 5, 0.9) 50%), url(../image/tango-lesson_ipp.jpg);
      background-size: 185%;
      background-position: 50% 0; } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 55vh); } }
  .header h3 {
    color: #fff4c4;
    text-transform: capitalize; }
  .header__name {
    position: absolute;
    z-index: 500;
    transform: translate(5%, 25%) rotate(-10deg);
    font-size: 16rem;
    font-family: "Great Vibes", cursive;
    color: rgba(255, 244, 196, 0.8); }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .header__name {
        transform: translate(5%, 95%) rotate(-15deg);
        font-size: 15rem; } }
    @media only screen and (max-width: 1024px) {
      .header__name {
        font-size: 12rem; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .header__name {
        transform: translate(5%, 95%) rotate(-15deg);
        font-size: 12rem; } }
    @media only screen and (max-width: 824px) {
      .header__name {
        transform: translate(5%, 45%) rotate(-10deg); } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .header__name {
        transform: translate(5%, 95%) rotate(-15deg);
        font-size: 11rem; } }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      .header__name {
        transform: translate(5%, 60%) rotate(-15deg); } }
    @media only screen and (max-width: 667px) and (orientation: landscape) {
      .header__name {
        transform: translate(5%, 45%) rotate(-15deg); } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .header__name {
        font-size: 6rem;
        transform: translate(30%, 420%) rotate(0);
        color: rgba(255, 244, 196, 0.6); } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .header__name {
        display: none; } }
    @media only screen and (max-width: 667px) and (orientation: landscape) {
      .header__name {
        font-size: 10rem; } }
    @media only screen and (max-width: 568px) and (orientation: landscape) {
      .header__name {
        font-size: 9.5rem; } }
    @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
      .header__name {
        font-size: 8rem;
        transform: translate(5%, 55%) rotate(-15deg); } }
  .header__mainbox {
    display: grid;
    position: absolute;
    z-index: 600;
    top: 10%;
    right: 5%;
    grid-gap: 2.5rem;
    height: 70%;
    width: 30%;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .header__mainbox {
        grid-gap: 2rem;
        width: 30%; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .header__mainbox {
        right: 4%; } }
    @media only screen and (max-width: 568px) and (orientation: landscape) {
      .header__mainbox {
        grid-gap: 1rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .header__mainbox {
        right: 0;
        width: 100%;
        grid-gap: 1rem;
        top: 5%; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .header__mainbox {
        right: 0;
        width: 100%;
        grid-gap: 1rem;
        top: -5%; } }
    @media only screen and (max-width: 667px) and (orientation: landscape) {
      .header__mainbox {
        grid-gap: 0; } }
    @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
      .header__mainbox {
        grid-gap: 0; } }
  .header__logo {
    width: 25rem;
    opacity: .9; }
    @media only screen and (max-width: 1024px) {
      .header__logo {
        width: 10rem;
        text-align: center; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .header__logo {
        width: 12rem; } }
    @media only screen and (max-width: 568px) and (orientation: landscape) {
      .header__logo {
        width: 9rem; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .header__logo {
        width: 10rem; } }
  .header__sub {
    color: #fff4c4;
    text-transform: capitalize;
    padding: 1rem 1.5rem; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .header__sub {
        font-size: 3.5rem; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .header__sub {
        font-size: 2.5rem; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) and (max-width: 568px) and (orientation: landscape) {
    .header__sub span {
      display: none; } }
  .header h1 {
    color: #fff4c4;
    text-transform: uppercase;
    text-shadow: 0.4rem 0.4rem 0.1rem #231F20; }
    .header h1:nth-child(2) {
      border-top: 3px solid #fff4c4; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .header h1 {
        letter-spacing: .3rem; } }

.about {
  grid-column: full-start /col-start 8;
  grid-row: 3/6;
  background-color: #0a0002;
  z-index: 400;
  clip-path: polygon(0 0, 100% 0, 100% 15vh, 0 100%);
  margin-top: -5vh;
  display: grid;
  align-content: center;
  align-items: center;
  padding-left: 3rem; }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .about {
      grid-column: full-start /-1;
      clip-path: polygon(0 0, 100% 0, 100% 16.5vh, 0 100%);
      margin-top: 0; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .about {
      margin-top: -3vh;
      clip-path: polygon(0 0, 100% 0, 100% 15vh, 0 80%); } }
  @media only screen and (max-width: 824px) {
    .about {
      margin-top: -1%;
      clip-path: polygon(0 0, 100% 0, 100% 27vh, 0 100%); } }
  @media only screen and (max-width: 812px) {
    .about {
      margin-top: -2%;
      clip-path: polygon(0 0, 100% 0, 100% 29vh, 0 100%); } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .about {
      grid-column: full-start /-1;
      background-image: none;
      clip-path: polygon(0 0, 100% 0, 100% 19vh, 0 100%);
      margin-top: -3%; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .about {
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
      background-image: linear-gradient(rgba(3, 97, 97, 0.6), rgba(17, 1, 1, 0.9)), url(../image/geoffandBeth-lg.png);
      background-size: 100%;
      background-position: 70% 10%;
      background-repeat: no-repeat;
      margin-top: -1%; } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    .about {
      margin-top: -3%; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .about {
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      margin-top: 12%;
      background-image: linear-gradient(rgba(10, 0, 2, 0.6), rgba(10, 0, 2, 0.9)), url(../image/geoffandBeth-lg.png);
      background-size: 130%;
      background-position: 70% 90%;
      background-repeat: no-repeat; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .about {
      grid-row: 2/4;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      background-image: linear-gradient(rgba(10, 0, 2, 0.6), rgba(10, 0, 2, 0.9)), url(../image/geoffandBeth-lg.png);
      background-size: 130%;
      background-position: 70% 90%;
      background-repeat: no-repeat;
      padding: 2rem;
      margin-top: 10%; } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .about {
      grid-row: 3/7;
      background-size: 121%;
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
      background-position: 70% 25%; } }
  @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
    .about {
      background-image: linear-gradient(rgba(3, 97, 97, 0.6), rgba(17, 1, 1, 0.9)), url(../image/geoffandBeth-lg.png);
      grid-row: 2/5;
      background-size: 165%;
      background-position: 90% 20%;
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 80%); } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .about {
      grid-row: 2/6;
      background-size: 180%;
      background-position: 90% 30%; } }
  .about__main {
    color: #fff4c4;
    padding: 15vh 2rem 2rem 2rem; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .about__main {
        padding: 0 2rem 2rem 2rem; } }
    @media only screen and (max-height: 1366px) and (max-width: 1024px) {
      .about__main {
        padding: 12.5vh 2rem 2rem 2rem; } }
    @media only screen and (max-width: 1024px) {
      .about__main {
        padding: 12.5vh 2rem 2rem 2rem; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .about__main {
        padding: 25vh 2rem 2rem 2rem; } }
    @media only screen and (max-width: 824px) {
      .about__main {
        padding: 10vh 2rem 2rem 2rem; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .about__main {
        padding: 15vh 2rem 2rem 2rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .about__main {
        padding: 20% 2rem 2rem 2rem; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .about__main {
        padding: 10% 2rem 2rem 2rem; } }
  .about__title {
    padding-top: 2rem;
    padding-bottom: 5rem; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .about__title {
        padding-top: 15rem; } }
    @media only screen and (max-width: 1024px) {
      .about__title {
        padding-top: 5rem;
        padding-bottom: 2rem; } }
    @media only screen and (max-height: 1366px) and (max-width: 1024px) {
      .about__title {
        padding-top: 8rem; } }
    @media only screen and (max-width: 812px) {
      .about__title {
        padding-top: 10rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .about__title {
        padding-top: 2rem; } }
  .about__shape {
    float: right;
    width: 100%;
    height: 75vh;
    shape-outside: polygon(0 100%, 100% 0, 100% 100%);
    shape-margin: 3rem; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .about__shape {
        shape-margin: 0; } }
    @media only screen and (max-width: 1024px) {
      .about__shape {
        height: 100%;
        shape-outside: polygon(0 91%, 100% 12%, 100% 100%, 0 100%);
        shape-margin: 2rem; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .about__shape {
        shape-outside: polygon(0 69%, 100% 9%, 100% 100%, 0 80%);
        shape-margin: 4rem; } }
    @media only screen and (max-width: 824px) {
      .about__shape {
        shape-outside: polygon(0 100%, 100% 31%, 100% 100%);
        shape-margin: 4.5rem; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .about__shape {
        shape-margin: 10rem;
        shape-outside: polygon(0 100%, 100% 40%, 100% 100%); } }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      .about__shape {
        shape-outside: polygon(0 100%, 100% 70%, 100% 100%); } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .about__shape {
        shape-outside: polygon(0 90%, 100% 70%, 100% 100%, 0 100%);
        shape-margin: 3.5rem; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .about__shape {
        shape-margin: 3rem;
        shape-outside: polygon(0 100%, 100% 80%, 100% 100%); } }

.travel {
  grid-column: col-start 2/ -1;
  grid-row: 4/7;
  background-color: #5cb0b0;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 35vh);
  margin-top: -17vh;
  background-image: linear-gradient(to bottom right, rgba(212, 230, 201, 0.4), rgba(21, 138, 138, 0.7), rgba(53, 182, 182, 0.9)), url(../image/geoffandBeth-lg.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 96%;
  background-size: 80%; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .travel {
      background-position-y: 22%;
      background-size: 100%; } }
  @media only screen and (max-width: 1024px) {
    .travel {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 35vh); } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .travel {
      grid-column: 1/ -1;
      grid-row: 5/7;
      margin-top: -22vh;
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 15vh);
      background-size: 65%;
      background-position: 105% 30%; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .travel {
      grid-column: col-start 2/ -1;
      grid-row: 4/6;
      clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 30vh);
      background-size: 90%;
      margin-top: -8vh; } }
  @media only screen and (max-width: 824px) {
    .travel {
      background-position-x: 100%;
      background-position-y: 4%;
      background-size: 89%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 35%); } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .travel {
      grid-column: 1/ -1;
      grid-row: 5/7;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 15vh);
      background-size: 75%;
      background-position: 140% 25%;
      display: block; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .travel {
      display: none; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .travel {
      display: none; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .travel {
      display: none; } }

.lessons {
  background-color: linear-gradient(black, rgba(21, 138, 138, 0.7));
  background-image: linear-gradient(rgba(35, 31, 32, 0.4), rgba(17, 1, 1, 0.7)), url(../image/tango-teachers_lg.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff4c4;
  grid-row: 5/9;
  grid-column: 1/-1;
  margin-top: -5%;
  margin-bottom: -10%;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 1024px) {
    .lessons {
      padding-top: 5rem; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .lessons {
      grid-row: 5/8;
      padding-top: 15%;
      align-content: start; } }
  @media only screen and (max-width: 824px) {
    .lessons {
      grid-row: 5/9;
      grid-gap: 1rem; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .lessons {
      grid-row: 5/9;
      text-align: left;
      padding-top: 5rem; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .lessons {
      text-align: end;
      padding-top: 15rem; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .lessons {
      margin-top: -10%;
      grid-row: 5/11;
      text-align: end;
      background-repeat: no-repeat;
      background-size: 250%;
      background-position: 70% -5%; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .lessons {
      grid-row: 3/7;
      padding-top: 60%; } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    .lessons {
      padding-top: 10rem; } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .lessons {
      grid-row: 5/12;
      padding-top: 35%; } }
  @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
    .lessons {
      grid-row: 4/9;
      padding-top: 30%; } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .lessons {
      grid-row: 5/11;
      padding-top: 20%; } }
  .lessons__title {
    padding-bottom: 3rem; }
    @media only screen and (max-width: 1024px) {
      .lessons__title {
        padding-bottom: 0;
        padding-top: 1rem; } }
    @media only screen and (max-width: 824px) {
      .lessons__title {
        font-size: 2.9rem;
        padding-top: 2rem;
        width: 80%; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .lessons__title::after {
        width: 80%;
        margin-right: 20%; } }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      .lessons__title::after {
        width: 80%;
        margin-left: 20%; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .lessons__title {
        padding-top: 0; }
        .lessons__title::after {
          width: 80%;
          margin-left: 20%; } }
  .lessons__content {
    width: 60%; }
    .lessons__content:last-child {
      padding-bottom: 10rem; }
      @media only screen and (max-width: 1024px) {
        .lessons__content:last-child {
          padding-bottom: 3rem; } }
      @media only screen and (max-height: 1366px) and (max-width: 1024px) {
        .lessons__content:last-child {
          padding-bottom: 0; } }
      @media only screen and (max-width: 824px) {
        .lessons__content:last-child {
          padding-bottom: 1.5rem; } }
    @media only screen and (max-width: 824px) {
      .lessons__content {
        width: 80%; } }
    @media only screen and (max-width: 812px) {
      .lessons__content {
        width: 80%; } }

.testimonials {
  background-color: #0a0002;
  color: #fff4c4;
  grid-row: 8/ 11;
  grid-column: 1/ -1;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  display: grid;
  grid-gap: 5rem;
  align-content: center;
  align-items: center;
  padding-left: 5rem; }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .testimonials {
      clip-path: polygon(0 15%, 100% 62%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .testimonials {
      grid-row: 7/9;
      clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 824px) {
    .testimonials {
      grid-row: 8/ 11;
      clip-path: polygon(0 10%, 100% 50%, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    .testimonials {
      clip-path: polygon(0 20%, 100% 50%, 100% 100%, 0 100%); } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .testimonials {
      grid-row: 10/ 14;
      clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .testimonials {
      grid-row: 6/ 9;
      clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .testimonials {
      grid-row: 11/ 16;
      clip-path: polygon(0 5%, 100% 30%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
    .testimonials {
      grid-row: 7/11;
      clip-path: polygon(0 20%, 100% 30%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .testimonials {
      clip-path: polygon(0 25%, 100% 35%, 100% 100%, 0 100%);
      grid-row: 9/15; } }
  .testimonials .section__title {
    width: 100%; }
    .testimonials .section__title::after {
      content: "";
      display: block;
      height: 2px;
      background-color: currentColor;
      width: 60%; }
  .testimonials__main {
    width: 70%;
    padding-top: 15%;
    position: relative; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .testimonials__main {
        padding-top: 40%; } }
    @media only screen and (max-width: 1024px) {
      .testimonials__main {
        padding-top: 5%; } }
    @media only screen and (max-height: 1366px) and (max-width: 1024px) {
      .testimonials__main {
        padding-top: 65%; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .testimonials__main {
        padding-top: 27%; } }
    @media only screen and (max-width: 824px) {
      .testimonials__main {
        padding-top: 15%; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .testimonials__main {
        padding-top: 75%; } }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      .testimonials__main {
        padding-top: 20%;
        width: 90%; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .testimonials__main {
        width: 90%;
        padding-top: 0;
        margin-top: 35%; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .testimonials__main {
        padding-top: 100%; } }
    @media only screen and (max-width: 667px) and (orientation: landscape) {
      .testimonials__main {
        width: 85%; } }
    @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
      .testimonials__main {
        padding-top: 0;
        width: 90%; } }
    @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
      .testimonials__main {
        padding-top: 45%;
        width: 90%; } }
    @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
      .testimonials__main {
        padding-top: 20%; } }
    .testimonials__main::before {
      content: "\0201c";
      position: absolute;
      color: rgba(70, 189, 169, 0.5);
      font-family: serif;
      z-index: -1; }
    .testimonials__main::before {
      font-size: 70rem;
      top: -25%;
      left: -2%;
      transform: rotate(-15deg); }
      @media only screen and (min-height: 1024px) and (max-width: 1366px) {
        .testimonials__main::before {
          top: 5%;
          left: -2%; } }
      @media only screen and (max-width: 1024px) {
        .testimonials__main::before {
          top: -63%;
          left: -2%; } }
      @media only screen and (max-height: 1366px) and (max-width: 1024px) {
        .testimonials__main::before {
          top: 15%; } }
      @media only screen and (max-height: 768px) and (max-width: 1024px) {
        .testimonials__main::before {
          top: -8%; } }
      @media only screen and (max-width: 824px) {
        .testimonials__main::before {
          top: -40%; } }
      @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
        .testimonials__main::before {
          top: 22%; } }
      @media only screen and (max-width: 768px) and (orientation: landscape) {
        .testimonials__main::before {
          top: -20%; } }
      @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
        .testimonials__main::before {
          top: -25%; } }
      @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
        .testimonials__main::before {
          top: 15%; } }
      @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
        .testimonials__main::before {
          top: -110%; } }
      @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
        .testimonials__main::before {
          top: -10%; } }
  .testimonials__shape {
    float: right;
    width: 100%;
    height: 75vh;
    shape-outside: polygon(27.5% 100%, 100% 42%, 100% 100%);
    shape-margin: 4rem; }
  .testimonials__title {
    margin-bottom: 5rem; }
    @media only screen and (max-width: 824px) {
      .testimonials__title {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 812px) {
      .testimonials__title {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .testimonials__title {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 768px) and (orientation: landscape) {
      .testimonials__title {
        margin-bottom: 2rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .testimonials__title {
        margin-bottom: 2rem;
        margin-top: 5rem; } }
  .testimonials__voice {
    font-style: italic;
    opacity: 0;
    transform: scale(0.7) translateX(-100%);
    position: absolute; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .testimonials__voice {
        font-size: 2.2rem; } }
    @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
      .testimonials__voice {
        font-size: 2rem; } }
    @media only screen and (max-width: 667px) and (orientation: landscape) {
      .testimonials__voice {
        font-size: 1.7rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .testimonials__voice {
        font-size: 1.7rem; } }
    .testimonials__voice--title {
      margin-bottom: 1.8rem; }
      @media only screen and (max-width: 824px) {
        .testimonials__voice--title {
          margin-bottom: 1rem; } }
    .testimonials__voice--name {
      display: grid;
      align-items: center;
      grid-template-columns: 10rem max-content;
      padding-top: 3rem;
      grid-gap: 1rem; }
      @media only screen and (max-width: 824px) {
        .testimonials__voice--name {
          padding-top: 1rem; } }
      @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
        .testimonials__voice--name {
          padding-top: 1.5rem; } }
      @media only screen and (max-width: 667px) and (orientation: landscape) {
        .testimonials__voice--name {
          padding-top: 1rem; } }
      .testimonials__voice--name::before {
        content: "";
        display: block;
        height: 1px;
        width: 10rem;
        background-color: #fff4c4; }
    .testimonials__voice--1 {
      animation: slideIn 36s ease-out infinite;
      z-index: 100; }
    .testimonials__voice--2 {
      animation: slideIn 36s ease-out 5.7s infinite;
      z-index: 110; }
    .testimonials__voice--3 {
      animation: slideIn 36s ease-out 11.7s infinite;
      z-index: 120; }
    .testimonials__voice--4 {
      animation: slideIn 36s ease-out 17.7s infinite;
      z-index: 130; }
    .testimonials__voice--5 {
      animation: slideIn 36s ease-out 23.7s infinite;
      z-index: 140; }
    .testimonials__voice--6 {
      animation: slideIn 36s ease-out 29.7s infinite;
      z-index: 150; }

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%); }
  1% {
    opacity: 1;
    transform: scale(1) translateX(0); }
  16.5% {
    opacity: 1;
    transform: scale(1) rotate(0); }
  17% {
    opacity: 0;
    transform: scale(0.2) translateX(150%); }
  100% {
    opacity: 0;
    transform: scale(0.7) translateX(-100%); } }

.contact {
  grid-row: 10/ -1;
  grid-column: 1/ -1;
  margin-top: -5vh;
  background-color: rgba(21, 138, 138, 0.4);
  background-image: linear-gradient(to bottom right, rgba(215, 25, 33, 0.4), rgba(172, 4, 4, 0.4), rgba(172, 4, 4, 0.9), rgba(21, 138, 138, 0.9)), url(../image/tango-contct_lg.jpg);
  background-position-Y: 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  display: grid;
  grid-template-columns: 50vw 1fr;
  grid-template-rows: max-content;
  align-items: end;
  justify-items: end;
  justify-content: end;
  align-content: end;
  grid-gap: 4rem;
  padding-bottom: 5rem;
  padding-right: 8rem;
  text-align: right; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .contact {
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 1024px) {
    .contact {
      padding-right: 5rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .contact {
      grid-template-columns: 40vw 1fr;
      grid-row-gap: 5rem; } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .contact {
      grid-row-gap: 0;
      padding-top: 10rem;
      padding-bottom: 5rem;
      background-size: 120%;
      background-position: bottom; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .contact {
      grid-row: 9 /11;
      grid-template-columns: 60vw 1fr; } }
  @media only screen and (max-width: 824px) {
    .contact {
      grid-row: 10/13; } }
  @media only screen and (max-width: 812px) {
    .contact {
      grid-row: 10/13; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .contact {
      grid-row: 11/13;
      grid-row-gap: 3rem;
      grid-template-columns: 50vw 1fr;
      padding-bottom: 5rem; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .contact {
      grid-row: 13/-1;
      clip-path: polygon(0 78%, 100% 0, 100% 100%, 0 100%);
      grid-row-gap: 2rem;
      background-size: 180%;
      padding-right: 4.2rem;
      padding-bottom: 3rem; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .contact {
      grid-row: 9/11;
      clip-path: polygon(0 5%, 100% 30%, 100% 100%, 0 100%);
      background-size: 200%;
      background-position-x: 60%;
      justify-items: start;
      padding-left: 5rem;
      padding-bottom: 3rem;
      margin-top: 0; } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    .contact {
      clip-path: polygon(0 100%, 100% 5%, 100% 100%); } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .contact {
      grid-row: 15/19;
      clip-path: polygon(0 90%, 100% 10%, 100% 100%, 0 100%); } }
  @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
    .contact {
      grid-row: 11/13; } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .contact {
      grid-row: 15/18;
      clip-path: polygon(0 10%, 100% 35%, 100% 100%, 0 100%); } }
  .contact__main {
    grid-column: 2 /3;
    display: grid;
    grid-gap: 5rem;
    align-items: end; }
    @media only screen and (max-width: 1024px) {
      .contact__main {
        grid-gap: 3.8rem; } }
    @media only screen and (max-height: 1366px) and (max-width: 1024px) {
      .contact__main {
        grid-gap: 5rem;
        height: 100%; } }
    @media only screen and (max-height: 768px) and (max-width: 1024px) {
      .contact__main {
        padding-top: 50vh; } }
    @media only screen and (max-width: 824px) {
      .contact__main {
        grid-gap: 3rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__main {
        grid-gap: 2rem; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .contact__main {
        grid-column: 1 /-1;
        text-align: left;
        grid-gap: 2.5rem; } }
  .contact__title {
    width: 100%; }
    .contact__title::after {
      width: 100%; }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__title {
        transform: translateX(10px); } }
  .contact__details {
    color: #fff4c4;
    display: grid;
    grid-gap: 2rem;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .2rem;
    width: 100%; }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .contact__details {
        font-size: 2.3rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__details {
        width: 50%;
        transform: translateX(90%); } }
  .contact__detail {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    align-items: end;
    justify-items: end; }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__detail {
        grid-template-columns: max-content 1fr; } }
  .contact__icon {
    width: 3rem;
    height: 3rem;
    fill: rgba(255, 244, 196, 0.7); }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .contact__icon {
        width: 3.5rem;
        height: 3.5rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__icon {
        transform: translateX(8rem); }
        .contact__icon--last {
          transform: translateX(0); } }
  .contact__links {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) minmax(6rem, 1fr) repeat(2, minmax(4rem, 1fr));
    grid-gap: 2rem;
    align-items: end;
    justify-items: end;
    justify-content: end;
    align-content: end; }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__links {
        width: 60%;
        margin-left: 40%; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .contact__links {
        justify-items: end; } }
    @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
      .contact__links {
        justify-items: start;
        justify-content: start; } }
  .contact__link {
    width: 3rem;
    height: 3rem;
    fill: rgba(255, 244, 196, 0.7); }
    .contact__link--youtube {
      width: 6rem;
      height: 3rem;
      fill: rgba(255, 244, 196, 0.7); }
      @media only screen and (min-height: 1024px) and (max-width: 1366px) {
        .contact__link--youtube {
          width: 7rem;
          height: 3.5rem; } }
    @media only screen and (min-height: 1024px) and (max-width: 1366px) {
      .contact__link {
        width: 3.5rem;
        height: 3.5rem; } }

.footer {
  grid-column: 1 /2;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  align-content: end;
  color: #fff4c4;
  padding-left: 5rem;
  display: grid; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .footer {
      grid-column: 2 /3;
      grid-row: 2/3;
      justify-self: end; } }
  @media only screen and (max-width: 1024px) {
    .footer {
      padding-left: 15rem; } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .footer {
      grid-column: 1 /2;
      grid-row: 1/-1; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .footer {
      grid-column: 1 /2;
      grid-row: 1/2;
      padding-left: 0; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .footer {
      justify-self: end; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .footer {
      grid-column: 2/3;
      grid-row: 2/3;
      width: 100vw; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .footer {
      grid-column: 1/-1;
      grid-row: 2/3;
      justify-self: start; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .footer__logo {
      display: grid;
      justify-items: start; } }
  .footer__logo img {
    width: 8rem;
    opacity: .6; }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .footer__logo img {
        width: 5rem; } }
  .footer__copyright {
    color: rgba(255, 244, 196, 0.6); }

.fees {
  background-color: #036161;
  background-image: linear-gradient(rgba(21, 138, 138, 0.5), rgba(21, 138, 138, 0.5)), url(../image/tango-milonga-md.jpg);
  background-size: 120%;
  background-position-x: 190%;
  background-position-y: -20%;
  background-repeat: no-repeat;
  grid-column: 1/-1;
  grid-row: 11 /-1;
  height: fit-content;
  color: #fff4c4;
  display: grid;
  grid-gap: 5rem;
  padding-top: 3rem;
  padding-left: 5rem;
  align-items: end;
  align-content: start;
  width: 100%;
  height: 150%; }
  @media only screen and (min-height: 1024px) and (max-width: 1366px) {
    .fees {
      background-size: 200%;
      background-position-x: 80%;
      padding-top: 8%; } }
  @media only screen and (max-width: 1024px) {
    .fees {
      grid-gap: 2rem; } }
  @media only screen and (max-height: 1366px) and (max-width: 1024px) {
    .fees {
      padding-top: 5%; } }
  @media only screen and (max-height: 768px) and (max-width: 1024px) {
    .fees {
      grid-row: 9 /-1;
      background-size: 200%;
      background-position-x: 110%;
      grid-gap: 5rem; } }
  @media only screen and (max-width: 824px) {
    .fees {
      grid-row: 11/13;
      margin-top: -2%;
      grid-gap: 3rem; } }
  @media only screen and (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) {
    .fees {
      padding-top: 8%; } }
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .fees {
      padding-top: 5%;
      grid-gap: 2rem; } }
  @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
    .fees {
      grid-row: 13/-1;
      background-position: 50% 0;
      background-size: 400%;
      clip-path: polygon(0 0, 100% 10%, 0 100%);
      padding-top: 10%; } }
  @media only screen and (max-height: 736px) and (max-width: 480px) and (orientation: portrait) {
    .fees {
      grid-row: 8/10;
      clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0 100%);
      padding-top: 45%;
      padding-right: 5rem;
      justify-items: end;
      text-align: right;
      background-size: 270%;
      background-position-x: 100%;
      background-position-y: 20%; } }
  @media only screen and (max-height: 325px) and (max-width: 480px) and (orientation: landscape) {
    .fees {
      grid-row: 16 / 18;
      background-size: 250%;
      background-position-y: 0; } }
  @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
    .fees {
      clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0 100%);
      grid-row: 10/12;
      padding-top: 40%; } }
  @media only screen and (max-height: 480px) and (max-width: 325px) and (orientation: portrait) {
    .fees {
      grid-row: 14/16;
      clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0 100%);
      padding-top: 35%;
      background-size: 315%;
      background-position-y: 25%; } }
  .fees__title::after {
    width: 100%; }
  .fees__content {
    list-style: none;
    align-self: start; }
  .fees__list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 15rem 1fr;
    padding-bottom: .5rem;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 1024px) {
      .fees__list {
        grid-gap: 1rem;
        font-size: 1.8rem; } }
    @media only screen and (min-height: 737px) and (max-height: 824px) and (max-width: 480px) and (orientation: portrait) {
      .fees__list {
        display: block; } }
    @media only screen and (max-height: 667px) and (max-width: 375px) and (orientation: portrait) {
      .fees__list {
        grid-gap: 3rem;
        font-size: 2rem; } }
