.contact {
    grid-row: 10/ -1;
    grid-column: 1/ -1;
    margin-top: -5vh;
    background-color: rgba($color-green-dark, .4);
    //background-image: linear-gradient(to bottom right, rgba($color-green-dark, .4), rgba($color-green-dark, .4), rgba($color-green-darkest, .9), rgba($color-black-darker, .9)), url(../image/test-tango-landing-6.png);
    background-image: linear-gradient(to bottom right, 
                                        rgba($color-red, .4), 
                                        rgba($color-red-deep-dark, .4), 
                                        rgba($color-red-deep-dark, .9), 
                                        rgba($color-green-dark, .9)), 
                                        url(../image/tango-contct_lg.jpg);
    // @include fixed-background;
    
    background-position-Y: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    // background-position: bottom;
    background-size: cover;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);

    display: grid;
    grid-template-columns: 50vw 1fr;
    @media #{$ipp-land} {
        grid-row-gap: 10rem;
    }


    align-items: end;
    justify-items: end;
    justify-content: end;
    align-content: end;
    grid-gap: 4rem;
    padding-bottom: 5rem;
    padding-right: 8rem;
    text-align: right;

    &__main {
        grid-column: 2 /3;
        display: grid;
        grid-gap: 5rem;
        align-items: end;
    }
    &__title{
        width: 100%;
        &::after {
            width: 100%;
        }
    }
    &__details{
        // padding-bottom: 2rem;
        color: $color-beige; 
        display: grid;
        grid-gap: 2rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing:.2rem;
        width: 100%;
        @media #{$ipp-land} {
            font-size: 2.3rem;
        }

    }
    &__detail{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 2rem;
        align-items: end;
        justify-items: end;
       
        
    }
    &__icon{
        width: 3rem;
        height: 3rem;
        // margin-left: 9rem;
        fill: rgba($color-beige, .7);

        @media #{$ipp-land} {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    &__links{
        width: 100%;
        display: grid;
        grid-template-columns: minmax(3rem, 1fr) minmax( 6rem, 1fr) repeat(2, minmax(4rem, 1fr));
        grid-gap: 2rem;
        align-items: end;
        justify-items: end;
        justify-content: end;
        align-content: end;
        // margin-bottom: 5rem;

    }
    &__link{
        width: 3rem;
        height: 3rem;
        // fill: rgba($color-black-darker, .7);
        fill: rgba($color-beige, .7);
        &--youtube {
            width: 6rem;
            height: 3rem;
            fill: rgba($color-beige, .7);
            @media #{$ipp-land} {
                width: 7rem;
                height: 3.5rem;
            }
        }

        @media #{$ipp-land} {
            width: 3.5rem;
            height: 3.5rem;
        }

    }

}
.footer {
    grid-column: 1 /2;
    grid-row: 1/2;

    @media #{$ipp-land} {
        grid-column: 2 /3;
        grid-row: 2/3;
        justify-self: end;

    }

    align-self: end;
    justify-self: center;
    color: $color-beige;
    //border-right: 1px solid rgba($color-beige, .5);
    padding-left: 5rem;
    &__logo{
        & img {
            width: 8rem;
            opacity: .6;
        }
    }
    &__copyright{
        color: rgba($color-beige, .6);
    }
}