.contact {
    grid-row: 4/5;
    grid-column: col-start 2/ -1;
    margin-top: -30vh;
    background-color: rgba($color-green-dark, .4);
    //background-image: linear-gradient(to bottom right, rgba($color-green-dark, .4), rgba($color-green-dark, .4), rgba($color-green-darkest, .9), rgba($color-black-darker, .9)), url(../image/test-tango-landing-6.png);
    background-image: linear-gradient(to bottom right, 
                                        rgba($color-red, .4), 
                                        rgba($color-red, .4), 
                                        rgba($color-red-deep-dark, .9), 
                                        rgba($color-green-dark, .9)), 
                                        url(../image/test-tango-landing-6.png);
    // @include fixed-background;
    
    background-position-Y: 85%;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    display: grid;
    grid-template-columns: 1fr;
    
    align-items: center;
    justify-items: end;
    justify-content: end;
    align-content: end;
    grid-gap: 4rem;
    padding-right: 8rem;
    text-align: right;
    &__title{
        width: 30%;
        &::after {
            width: 100%;
        }
    }
    &__details{
        // padding-bottom: 2rem;
        color: $color-beige; 
        display: grid;
        grid-gap: 2rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing:.2rem;
    
        width: 27%;
    }
    &__detail{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 2rem;
        align-items: center;
        justify-items: end;
       
        
    }
    &__icon{
        width: 3rem;
        height: 3rem;
        // margin-left: 9rem;
        fill: rgba($color-beige, .7);
    }
    &__links{
        width: 27%;
        display: grid;
        grid-template-columns: minmax(3rem, 1fr) minmax( 6rem, 1fr) repeat(2, minmax(4rem, 1fr));
        grid-gap: 2rem;
        align-items: center;
        justify-items: end;
        justify-content: center;
        margin-bottom: 5rem;

    }
    &__link{
        width: 3rem;
        height: 3rem;
        // fill: rgba($color-black-darker, .7);
        fill: rgba($color-beige, .7);
        &--youtube {
            width: 6rem;
            height: 3rem;
            fill: rgba($color-beige, .7);
            
        }

    }


}
