.fees{
    background-color:$color-green-darkest;
    background-image: linear-gradient(rgba($color-green-dark, .5), rgba($color-green-dark, .5)), url(../image/tango-milonga-md.jpg);
    background-size: 120%;
    background-position-x: 190%;
    background-position-y: -20%;
    background-repeat: no-repeat;

    grid-column: 1/-1;
    grid-row: 11 /-1;
    height: fit-content;
    color: $color-beige;
    display: grid;
    grid-gap: 5rem;
   
    padding-top: 3rem;
    padding-left: 5rem;
    align-items: end;
    align-content: start;
    width: 100%;
    height: 150%;

    @media #{$ipp-land} {
        background-size: 200%;
        background-position-x: 80%;
        padding-top: 8%;
        }
    @media #{$desktop} {
        grid-gap: 2rem;
    }
    @media #{$ipp-port}{
        padding-top: 5%;
    }    
    
    @media #{$ip-land}{
        grid-row: 9 /-1;
        background-size: 200%;
        background-position-x: 110%;
        grid-gap: 5rem;
    }
    @media #{$xlg-phone} {
        grid-row: 11/13;
        margin-top: -2%;
        grid-gap: 3rem;
    }
    @media #{$ip-port}{
        padding-top: 8%;
    }

    @media #{$mphone-land}{
        padding-top: 5%;
        grid-gap: 2rem;
    }
    

    @media #{$xlg-phone-port}{
        grid-row: 13/-1;
        background-position: 50% 0;
        background-size: 400%;
        clip-path: polygon(0 0, 100% 10%, 0 100%);
        padding-top: 10%;
    }

    @media #{$lg-phone-port}{
        grid-row: 8/10;
        clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0 100%);
        padding-top: 45%;
        padding-right: 5rem;
        justify-items: end;
        text-align: right;
        background-size: 270%;
        background-position-x: 100%;
        background-position-y: 20%;
    }

    @media #{$other-phone-land}{
        grid-row: 16 / 18;
        background-size: 250%;
        background-position-y: 0;
    }    
    @media #{$sphone-port}{
        clip-path: polygon(0 30%, 100% 15%, 100% 100%, 0 100%);
        grid-row: 10/12;
        padding-top: 40%;
    }
    @media #{$other-phone-port}{
        grid-row: 14/16;
        clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0 100%);
        padding-top: 35%;
        background-size: 315%;
        background-position-y: 25%;
    }
    &__title {
        &::after{
            width: 100%;
        }
    }
    &__content{
        list-style: none;
        align-self: start;
    }

    &__list{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 15rem 1fr;
        padding-bottom: .5rem;
        text-transform: capitalize;
        font-size: 2rem;
        letter-spacing: .2rem;
        @media #{$desktop} {
            grid-gap: 1rem;
            font-size: 1.8rem;
        }
        @media #{$xlg-phone-port}{
            display: block;
        }
        @media #{$sphone-port}{
            grid-gap: 3rem;
            font-size: 2rem;
        }
    }   
}
