.header {
    grid-column: 1 /-1;
    grid-row: 1 / 4;
    position: relative;
    background-color: $color-black;
    z-index: 500;
    
    background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_lg.jpg);
    @include fixed-bottom-cover;

    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 65vh);
    display: grid;
    text-align: center;

    @media #{$ipp-land} {
        background-position: 50% 250%;
    }

    
    @media #{$ipp-port}{
        clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 35vh);
        background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_ipp.jpg);
        @include contain-top-fixed;
    }
    @media #{$ip-land} {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65vh);
        background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_m.jpg);
        background-size: auto;
        background-position: 50% 130%;
    }
    @media #{$xlg-phone}{
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 65vh);
        background-position: 50% 90%;
    }
    @media #{$ip-port}{
        clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 35vh);
        background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_ipp.jpg);
        @include contain-top-fixed;
        background-size: 120%;
    }
    @media #{$xlg-phone-port}{
        clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 39vh);
        background-image: linear-gradient(to right, rgba(0, 8, 7, 0.5) 0%, rgba(10, 0, 2, 0.5) 50%, rgba(190, 5, 5, 0.9) 50%), url(../image/tango-lesson_ipp.jpg);
        background-size: 185%;
        background-position: 50% 0;
    }

    h3 {
        color: $color-beige;
        text-transform: capitalize;  
    }

    &__name {
        position: absolute;
        z-index: 500;
        transform: translate(5%, 25%) rotate(-10deg);
        font-size: 16rem;
        font-family: $font-stroke-1;
        color: rgba($color-beige, .8);


        @media #{$ipp-land}{
            transform: translate(5%, 95%) rotate(-15deg);
            font-size: 15rem;
        }
        
        @media #{$desktop} {
            font-size: 12rem;
        }

        @media #{$ip-land} {
            transform: translate(5%, 95%) rotate(-15deg);
            font-size: 12rem;
           
        }
        @media #{$xlg-phone}{
            transform: translate(5%, 45%) rotate(-10deg);
        }
        @media #{$ip-port}{
            transform: translate(5%, 95%) rotate(-15deg);
            font-size: 11rem;
        }
        @media #{$xlg-phone-port}{
            font-size: 6rem;
            transform: translate(30%, 420%) rotate(0);
            color: rgba($color-beige, .6);
        }
        
    }
    &__mainbox{
        display: grid;
        position: absolute;
        z-index: 1000;
        top: 10%;
        right: 5%;
        grid-gap: 2.5rem;
        height: 70%;
        width: 30%; 
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        @media #{$desktop} {
            grid-gap: 2rem;
            width: 30%;
        }

        @media #{$ip-port}{
            right: 4%;
        }

        @media #{$xlg-phone-port}{
            right: 0;
            width: 100%;
            grid-gap: 1rem;
            top: 5%;
        }
    }

    &__logo {
        width: 25rem;
        opacity: .9;
        @media #{$desktop} {
            width: 10rem;
            text-align: center;
        }
        @media #{$ip-land} {
            width: 12rem;
        }
    }
    &__sub {
      
       color: $color-beige;
       text-transform: capitalize;
       & span {
           padding: 1rem 1.5rem;
 

        @media #{$ipp-land} {
            font-size: 3.5rem;
        }
        
        @media #{$ip-port}{
            font-size: 2.5rem;
        }

       }
      
    }
    
    & h1 {
        color: $color-beige;
        text-transform: uppercase;
        text-shadow:  .4rem .4rem .1rem $color-black;
        &:nth-child(2) {
            border-top: 3px solid $color-beige;
            
        }
        @media #{$ipp-land} {
            letter-spacing: .3rem;
        }
    }
}