.header {
    grid-column: 1 /-1;
    grid-row: 1 / 4;
    position: relative;
    background-color: $color-black;
    z-index: 500;
    
    background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_lg.jpg);
 
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 65vh);
    display: grid;
    text-align: center;

    @media #{$ipp-port}{
        clip-path: polygon(0 0, 100% 0, 100% 49.5vh, 0 35vh);
        background-image: linear-gradient(to right, rgba($color-black-darker, .5) 0%, rgba($color-black-red, .5) 60%, rgba($color-red-deep, .9) 60% ),  url(../image/tango-lesson_ipp.jpg);
    
        background-size: contain;
        background-position: bottom;
        background-attachment: fixed;
    }
 
    h3 {
        color: $color-beige;
        text-transform: capitalize;  
    }

    &__name {
        position: absolute;
        z-index: 500;
        transform: translate(5%, 25%) rotate(-10deg);
        font-size: 16rem;
        font-family: $font-stroke-1;
        color: rgba($color-beige, .8);


        @media #{$ipp-land} {
            transform: translate(5%, 95%) rotate(-15deg);
            font-size: 15rem;
        }
        @media #{$desktop} {
            font-size: 12rem;
        }
        
    }
    &__mainbox{
        display: grid;
        position: absolute;
        z-index: 1000;
        top: 10%;
        right: 5%;
        grid-gap: 2.5rem;
        @media #{$desktop} {
            grid-gap: 2rem;
            width: 30%;
        }
        height: 70%;
        width: 30%;
        
        align-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;

    }

    &__logo {
        width: 25rem;
        opacity: .9;
        @media #{$desktop} {
            width: 10rem;
            text-align: center;
        }
    }
    &__sub {
      
       color: $color-beige;
       text-transform: capitalize;
       & span {
           padding: 1rem 1.5rem;
        //    -webkit-box-decoration-break: clone;
        //    box-decoration-break: clone;

        @media #{$ipp-land} {
            font-size: 3.5rem;
        }
       }
      
        
    }
    
    & h1 {
        color: $color-beige;
        text-transform: uppercase;
        text-shadow:  .4rem .4rem .1rem $color-black;
        &:nth-child(2) {
            border-top: 3px solid $color-beige;
            
        }
        @media #{$ipp-land} {
            letter-spacing: .3rem;
        }
    }
}