.lessons {
    //background-color: $color-beige;
    background-color: linear-gradient(black, rgba($color-green-dark, .7));
    background-image: linear-gradient(rgba($color-black, .4), rgba($color-red-darkest, .7)), url(../image/tango-teachers_lg.jpg);
    //background-image: linear-gradient(rgba($color-red-dark, .7), rgba($color-red-deep-dark, .7)), url(../image/test-tango-landing.png);
    
    
    @include fixed-background; 
    color: $color-beige;
    grid-row: 5/9;
    grid-column: 1/-1;
    margin-top: -5%;
    margin-bottom: -10%;
    display: grid;
    grid-gap: 2rem;
    @include centering;

    @media #{$desktop}{
        padding-top: 5rem;
    } 
    @media #{$ip-land}{
        grid-row: 5/8;
        padding-top: 15%;
        align-content: start;
    }

    @media #{$xlg-phone}{
        grid-row: 5/9;
        grid-gap: 1rem;
        
    }   
    @media #{$ip-port}{
        grid-row: 5/9;
        text-align: left;
        padding-top: 5rem;

    }
    @media #{$mphone-land}{
        text-align: end;
        padding-top: 15rem;
    }
    @media #{$xlg-phone-port}{
        margin-top: -10%;
        grid-row: 5/11;
        text-align: end;
        background-repeat: no-repeat;
        background-size: 250%;
        background-position: 70% -5%;
    }
    @media #{$lg-phone-port}{
        grid-row: 3/7;
        padding-top: 60%;
    }
    @media #{$sphone-land}{
        padding-top: 10rem;
    }
    @media #{$other-phone-land}{
        grid-row: 5/12;
        padding-top: 35%;
    }
    @media #{$sphone-port}{
        grid-row: 4/9;
        padding-top: 30%;
    }
    @media #{$other-phone-port}{
        grid-row: 5/11;
        padding-top: 20%;
    }
    &__title {
        padding-bottom: 3rem;

        @media #{$desktop} {
            padding-bottom: 0;
            padding-top: 1rem;
        }

        @media #{$xlg-phone}{
            font-size: 2.9rem;
            padding-top: 2rem;
            width: 80%;
        }
        
        @media #{$ip-port}{
            &::after {
                width: 80%;  
                margin-right: 20%;
            }
        }
        @media #{$mphone-land}{
            &::after {
                width: 80%;  
                margin-left: 20%;
            }
        }
        @media #{$xlg-phone-port}{
            padding-top: 0;
            &::after {
                width: 80%;  
                margin-left: 20%;
            }
        }

    }
    &__content {
        width: 60%;
    
        &:last-child{
            padding-bottom: 10rem;
            @media #{$desktop}{
                padding-bottom: 3rem;
            }
            @media #{$ipp-port}{
                padding-bottom: 0;
            }

            @media #{$xlg-phone}{
                //letter-spacing: 0;
                padding-bottom: 1.5rem;
                
            }
        }  
        @media #{$xlg-phone}{
            width: 80%;
            
        }
        @media #{$iphone-x}{
            width: 80%;
        }
    }

    
}