@mixin centering {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@mixin fixed-background {
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@mixin bottom-line {
    &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: currentColor;
        width: 60%;     
    }
}

@mixin quote {
    &::before {
        content: "\0201c";
        position: absolute;
        color: rgba($color-green-mid, .5);
        font-family: serif;
        z-index: -1;
    }
}