
// RESPONSIVE BREAKPOINTS
// $iPp-w: 85.37em; //1366px / 16 /* iPad pro landscape Width*/
// $iPp-h: 64em; // 1024px /* iPad pro landscape Height */
// $desktop-w: 64em; // 1024px
// $lgPhone: 51.5em; // 824px
// $mPhone: 48em; //768px
// $sPhone: 35.5em; //568px
// $xsPhone: 23.43em;// 375px
// $p2: 45.75em; //731px
// $other: 30em; //480px

$ipp-land: "(min-height: 1024px) and (max-width: 1366px)";
$desktop: "(max-width: 1024x)";
$ipp-port: "(min-height: 1366px) and (max-width: 1024px)";
$ip-port: "(min-height: 1024px) and (max-width: 768px)";
$xlg-phone: "(max-width: 824x)";
$lg-phone:"(min-height: 731px) and (max-height: 824px) and (max-width: 480px)";
$m-phone: "(max-width: 768x)";
$s-phone: "(max-width: 568x)";
$other-phone: "(min-height: 480px) and (max-width: 375px)";

@mixin centering {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@mixin fixed-background {
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@mixin bottom-line {
    &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: currentColor;
        width: 60%;     
    }
}

@mixin quote {
    &::before {
        content: "\0201c";
        position: absolute;
        color: rgba($color-green-mid, .5);
        font-family: serif;
        z-index: -1;
    }
}

// @mixin ip-pro-l {
//     @media only screen and (min-height: #{$iPp-h}) and (max-width: #{$iPp-w}){
//         @content;
//     }
// }

// @mixin desktop {
//     @media only screen and (max-width: #{$desktop-w}){
//         @content;
//     }
// }

// @mixin iPadPrP {
//     @media only screen and (min-height: #{$iPp-w}) and (max-width: #{$iPp-h}){
//         @content;
//     }
// }

// @mixin lgPhone {
//     @media only screen and (max-width: #{$lgPhone}) {
//         @content;
//     }
// }

// @mixin mPhone {
//     @media only xcreen and (max-width: #{$mPhone}){
//         @content;
//     }
// }

// @mixin iPadP {
//     @media only screen and (min-height:#{$iPp-h}) and (max-width: #{$mPhone}) {
//         @content;
//     }
// }

// @mixin sPhone {
//     @media only screen and (max-width: #{$sPhone}){
//         @content;
//     }
// }

// @mixin lgPhoneP {
//     @media only screen and (min-height: #{$p2}) and (max-height: #{$lgPhone}) and (max-width: #{$other}){
//         @content;
//     }
// }

// @mixin other {
//     @media only screen and (min-height: #{$other}) and (max-width: #{$xsPhone}) {
//         @content;
//     }
// }