


@mixin centering {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@mixin fixed-background {
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@mixin fixed-bottom-cover {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

@mixin contain-top-fixed{
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@mixin bottom-line {
    &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: currentColor;
        width: 60%;     
    }
}

@mixin quote {
    &::before {
        content: "\0201c";
        position: absolute;
        color: rgba($color-green-mid, .5);
        font-family: serif;
        z-index: -1;
    }
}

// @mixin ip-pro-l {
//     @media only screen and (min-height: #{$iPp-h}) and (max-width: #{$iPp-w}){
//         @content;
//     }
// }

// @mixin desktop {
//     @media only screen and (max-width: #{$desktop-w}){
//         @content;
//     }
// }

// @mixin iPadPrP {
//     @media only screen and (min-height: #{$iPp-w}) and (max-width: #{$iPp-h}){
//         @content;
//     }
// }

// @mixin lgPhone {
//     @media only screen and (max-width: #{$lgPhone}) {
//         @content;
//     }
// }

// @mixin mPhone {
//     @media only xcreen and (max-width: #{$mPhone}){
//         @content;
//     }
// }

// @mixin iPadP {
//     @media only screen and (min-height:#{$iPp-h}) and (max-width: #{$mPhone}) {
//         @content;
//     }
// }

// @mixin sPhone {
//     @media only screen and (max-width: #{$sPhone}){
//         @content;
//     }
// }

// @mixin lgPhoneP {
//     @media only screen and (min-height: #{$p2}) and (max-height: #{$lgPhone}) and (max-width: #{$other}){
//         @content;
//     }
// }

// @mixin other {
//     @media only screen and (min-height: #{$other}) and (max-width: #{$xsPhone}) {
//         @content;
//     }
// }