.testimonials {
    background-color: $color-black-red;
    color: $color-beige;
    grid-row: 8/ 11;
    grid-column: 1/ -1;
    //margin-top: -35vh;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);

    display: grid;
    grid-gap: 5rem;
    // grid-template-columns: 5rem 1fr 5rem;
    // grid-template-rows: 20vh 60vh 20vh;
    align-content: center;
    align-items: center;
    padding-left: 5rem;
    @media #{$ip-port}{
        clip-path: polygon(0 15%, 100% 62%, 100% 100%, 0 100%);
    }
    @media #{$ip-land} {
        grid-row: 7/9;
        clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 100%);
    }


    & .section {  
        &__title {
            width: 100%;
            @include bottom-line;
        }
    }

    &__main{
        width: 70%;
        padding-top: 15%;
        @media #{$ipp-land} {
            padding-top: 40%;
        }
        @media #{$desktop}{
            padding-top: 5%;
        }
        @media #{$ipp-port}{
            padding-top: 65%;
        }
        @media #{$ip-port}{
            padding-top: 75%;
        }
        @media #{$ip-land} {
            padding-top: 27%;
        }

        @include quote;
        &::before {
            font-size: 70rem;
            top: -25%;
            left: -2%;
            transform: rotate(-15deg);

            @media #{$ipp-land} {
                top: 5%;
                left: -2%;
            }
            @media #{$desktop} {
                top: -63%;
                left: -2%;
            }
            @media #{$ipp-port}{
                top: 15%;
            }
            @media #{$ip-port} {
                top: 22.5%;
            }
            @media #{$ip-land} {
                top: -8%;
            }
        }
        position: relative;

        
    }
    &__shape {
        float: right;
        width: 100%;
        height: 75vh;
        shape-outside: polygon(27.5% 100%, 100% 42%, 100% 100%);
        shape-margin: 4rem;
    }

    &__title {
        margin-bottom: 5rem; 
        @media #{$ip-port} {
            margin-bottom: 4rem; 
        }
        @media #{$iphone-x}{
            margin-bottom: 3rem; 
        }

    }
    &__voice {  
        
        font-style: italic;
        opacity: 0;
        transform: scale(.7) translateX(-100%);
        position: absolute;
        @media #{$ipp-land} {
            font-size: 2.2rem;
        }
        @media #{$ip-port} {
            font-size: 2rem;
        }

        &--title{
            margin-bottom: 1.8rem;
        }

        &--name {
            display: grid;
            align-items: center;
            grid-template-columns: 10rem max-content;
            padding-top: 3rem;
            grid-gap: 1rem;
            @media #{$ip-port} {
                padding-top: 1.5rem;
            }
            &::before{
                content: "";
                display: block;
                height: 1px;
                width: 10rem;
                background-color: $color-beige;
            }
        }

        &--1{
            animation: slideIn 36s ease-out infinite;
            z-index: 100;
        }
        &--2{
            animation: slideIn 36s ease-out 5.7s infinite;
            z-index: 110;
        }
        &--3{
            animation: slideIn 36s ease-out 11.7s infinite;
            z-index: 120;
        }
        &--4{
            animation: slideIn 36s ease-out 17.7s infinite;
            z-index: 130;
        }
        &--5{
            animation: slideIn 36s ease-out 23.7s infinite;
            z-index: 140;
        }
        &--6{
            animation: slideIn 36s ease-out 29.7s infinite;
            z-index: 150;
        }

    }
   

}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: scale(.7) translateX(-100%);
    }
    1% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    16.5% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    17% {
        opacity: 0;
        transform: scale(.2) translateX(150%);
    }
    100% {
        opacity: 0;
        transform: scale(.7) translateX(-100%);
    }
}
