.travel {
    grid-column: col-start 2/ -1;
    grid-row: 2/3;
    background-color: $color-green-light;
    clip-path:polygon(0 0, 100% 0, 100% 100vh, 0 35vh);
    margin-top: -25vh;
    background-image: linear-gradient(rgba($color-green-dark, .5), rgba($color-green-dark, .5)), url(../image/geoffandBeth-lg.png);
    background-repeat: no-repeat;
    background-position: 99% 15%;
    // background-position: center;
    
   
    

}