%heading {
    font-family: $font-display;
}
.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    letter-spacing: .3rem;
}
.heading-2{
    @extend %heading;
    font-size: 4rem;
    letter-spacing: .3rem;
}

.heading-3{
    @extend %heading;
    font-size: 3.5rem;
}
.heading-4{
    @extend %heading;
    font-size: 3rem;
}

.sub-3 {
    font-family: $font-stroke-2;
    font-size: 3.8rem;
    
}